/**
*----------------------
* imports
*----------------------
*/

@import "normalize.css";
@import "general.css";

/**
*----------------------
* variables
*----------------------
*/

:root {
    --iron: darkgrey;
    --color-planning-over: cornflowerblue;
}

.edit-school-week {
    padding: 20px;
}

.week-structure-planning {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    & div {
        flex-grow: 1;
    }
    & div > h2 {
        font-size: 16px;
        color: var(--iron);
        margin-bottom: 10px;
    }
    & div > select {
        width: 90%;
        background-color: white;
        border: none;
        border-bottom: 1px solid var(--iron);
        outline: none;
    }
    & .planning-item-over {
        & h2 {
            color: var(--color-planning-over);
        }
        & select {
            border-color: var(--color-planning-over);
        }
    }
}

.comment {
    margin-top: 70px;
    & h2 {
        color: var(--iron);
        font-size: 18px;
        margin-bottom: 10px;
    }
    & input {
        border: none;
        border-bottom: 1px solid var(--iron);
        outline: none;
        width: 97%;
    }
}

.week-schedule {
    margin-top: 50px;
    border: 1px solid var(--iron);
    border-collapse: collapse;
    width: 100%;

    & thead th, & tbody td:first-of-type {
        text-transform: uppercase;
    }

    & td {
        padding: 10px;
        border: 1px solid var(--iron);
        cursor: pointer;
    }
}

.submit-schedule {
    margin-top: 30px;
    text-align: right;
}
